.prev_button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.next_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button_column {
    height:500px;
}

.unread {
    color: #ff0000;
}

.hit {
    color: #008800;
}

.commentbase {
    background-color:#dddddd;
}

input[type="search"].my-search {
    -webkit-appearance: searchfield;
}
  
input[type="search"].my-search::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}
  
.image-body {
    background-image: url("../images/bgi.jpg");
    background-position: top;
}
